/* footer */
#footer {
    background-color: var(--mainColor);
    padding-top: 40px;
}

.footer__inner {
    display: flex;
    height: 120px;
    justify-content: space-between;
    font-size: 1rem;
}

.footer__inner ul {
    display: flex;
}

.footer__inner ul li {
    margin-right: 10px;
}

.footer__inner .left a {
    display: block;
    /* 세로로 정렬되도록 설정 */
    margin-bottom: 5px;
    /* 아래쪽 간격 추가 */
}


@media (max-width:600px) {
    .footer__inner {
        width: 100%;
        padding: 0 16px;
        font-size: 0.6rem;
    }
}