/* header */
.header__inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 60px;
    position: relative;
}

.header__inner .logo a img {
    padding: 1rem;
    width: 50px;
    height: 50px;
    margin-left: -16px;
}

/* inputbox */
.header_codelink_input {
    display: flex;
    width: 500px;
    height: 40px;
}

.header_codelink_input {}

.header_codelink_input .codelink-input-style {
    width: 80%;
    height: 100%;
    border-radius: 15px;
    text-align: center;
    margin-right: 5px;
    font-size: 0.9rem;
}

.header_codelink_input .btn {
    width: 19%;
    padding: 1rem;
}

/* login */

.login {}

.login a {
    width: 100px;
    height: 100%;
    text-align: center;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* btn */
.btn {
    height: 40px;
    font-size: 0.9rem;
    border-radius: 15px;
    background-color: var(--pointColor);
    color: var(--white700);
    text-align: center;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
}