/* sign */
.sign {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 500px;
    height: 500px;
    background-color: var(--pointColor);
    border-radius: 40px;
    padding: 70px 50px;
    z-index: 20000;
    display: none;
}


.popup_close {
    display: flex;
    justify-content: right;
    position: absolute;
    right: 30px;
    top: 30px;
}

/* sign__title */

.sign__title {
    display: flex;
}

.sign__title img {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    border: 2px solid var(--black);
    margin-right: 14px;
}

.sign__title div {
    margin-top: -8px;
    display: flex;
    flex-wrap: wrap;
    font-family: var(--fontN);
    color: var(--balck);
}

.sign__title div h2 {
    font-size: 2.2rem;
    font-family: var(--fontN);
    color: var(--black);
    font-weight: 900;
}

.sign__title div p {
    margin-top: -4px;
    font-style: 1.25rem;
    font-family: var(--fontN);
}

/* sign__form */

.sign__form {
    margin-top: 20px;
}

/* member__signin */

.site__email button {
    width: 100%;
    height: 60px;
    background-color: var(--black);
    color: var(--white);
    text-align: center;
    margin-bottom: 16px;
    font-size: 1.125rem;
    border-radius: 20px;
}

.google__email button {
    text-align: center;
    width: 100%;
    height: 60px;
    border-radius: 20px;
    background-color: var(--white);
}


.google__email button span {
    margin-left: -10px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.125rem;
    color: var(--balck);
}

.google__email button span img {
    width: 40px;
    height: 40px;
    margin-right: 2px;
}

/* sign__signup */

.sign__signup {
    margin-top: 16px;
    margin-bottom: 24px;
    display: flex;
    width: 100%;
    justify-content: space-between;
}

.sign__signup span {
    font-family: var(--fontN);
    color: var(--balck400);
    font-size: 1rem
}

.sign__signup a {
    font-size: 1rem var(--fontN);
    color: var(--balck);
    text-decoration: underline;
    text-underline-offset: unset;
    text-underline-position: under;
}

/* sign__policy */
.sign__policy {
    font-family: var(--fontN);
    font-size: 0.9rem;
    margin-bottom: 10px;
}

.sign__policy a {
    text-decoration: underline;
    text-underline-offset: unset;
    text-underline-position: under;
}

/* user__find */
.user__find li {
    display: flex;
    justify-content: space-between;
}

.user__find span {
    font-family: var(--fontN);
    font-size: 0.9rem;
}

.user__find a {
    font-family: var(--fontN);
    font-size: 0.9rem;
    text-decoration: underline;
    text-underline-offset: unset;
    text-underline-position: under;
}

/* email_signin */
.email_signin input {
    width: 95%;
    height: 40px;
    margin-bottom: 10px;
    border-radius: 15px;
    background-color: var(--white);
}

.email_signin button {
    justify-content: center;
    text-align: center;
    width: 50%;
    height: 40px;
    border-radius: 20px;
    background-color: var(--white);
    margin-left: 90px;
}

.email_signin button:hover {
    background-color: #000;
    color: var(--white);
}

.input_style {
    background-color: var(--white);
    border-radius: 5px;
    padding: 1.2rem 1.4rem;
    font-size: 1rem;
}

/* signup__form */

.signup__form {
    max-width: 500px;
    margin: 0 auto;
    padding: 1.25rem 0;
}

.signup__form input {
    width: 100%;
    margin-bottom: 8px;
    height: 60px;
    border-radius: 15px;
    font-size: 16px;
    padding-left: 20px;
}

.signup__form label {
    display: block;
    margin-top: 5px;
    margin-bottom: 5px;
    /* 레이블 아래에 10px 여백 추가 */
}

.signup__form button {
    width: 100%;
    padding: 1.25rem;
    background-color: var(--balck400);
    border-radius: 15px;
    text-align: center;

}

.signup__form button:hover {
    background-color: darkgray;
    color: var(--white);
}