:root {
    --fontN: "NanumSquareNeo";
    --fontG: "GmarketSans";
    --fontL: "lato";

    --mainColor: #FAF6EE;
    --pointColor1: #048EC9;
    --pointColor2: #B3DEBE;

    --pointColor1-1: #48ABD1;
    --pointGreen: #058A2A;



    --white: #fff;
    --white100: #fff;
    --white200: #e1e1e1;
    --white300: #ddd;
    --white400: #ccc;
    --white500: #bbb;
    --white600: #aaa;
    --white700: #d9d9d9;

    --black: #000;
    --black100: #111;
    --black200: #222;
    --black300: #333;
    --black400: #444;
    --black500: #555;
    --black600: #666;
    --black700: #777;

    /* 기본 폰트 설정 */
    font-family: var(--fontN);
    font-size: 16px;
    line-height: 1.5;
    font-weight: 400;

    /* 아이폰 가로 모드에서 글씨 확대 금지 */
    -webkit-text-size-adjust: 100%;
}

@media (max-width: 800px) {
    :root {
        font-size: 14px;
    }
}